.gitattributes text eol=lf
.gitignore text eol=lf

*.md text eol=lf

.editorconfig text eol=lf

*.lock text eol=lf

# Configs
*.json text eol=lf
*.liquid text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# Elixir
*.ex text eol=lf
*.exs text eol=lf
.tool-versions text eol=lf

# Python
*.py text eol=lf

# Ruby
*.rb text eol=lf

# Rust
*.rs text eol=lf
*.toml text eol=lf

# Scripts
*.bash     text eol=lf
*.sh       text eol=lf
*.zsh     text eol=lf

# These are explicitly Windows files and should use crlf
*.bat      text eol=crlf
*.cmd      text eol=crlf
