.vscode/**
.vscode-test/**

.nvmrc
node_modules
out/
src/
esbuild.js

.gitattributes
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

CLAUDE.md
.claude/

assets/demo.gif
