.vscode/**
.vscode-test/**

.nvmrc
# Probably needed because we don't actually pack everything.
# See https://aka.ms/vscode-bundle-extension to see if we can pack more.
# node_modules
src/
esbuild.js

.gitattributes
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

out/test
out/tests

CLAUDE.md
.claude/

assets/demo.gif
